{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Sag Gardens - Компания ҳақида{% endblock %}
{% block description %}Sag Gardens - Компания ҳақида{% endblock %}
{% block keywords %}Sag Gardens - Компания ҳақида{% endblock %}
{% block content %}
    <div id="loader-wrapper">
        <div class="loader">
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
        </div>
    </div>
    {% include 'blocks/header_uzc.html' %}
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Компания ҳақида</h1>
                <div class="page-nav">
                    <p><a href="{% url 'mainapp_uzc:index' %}">Уй</a> &nbsp; | &nbsp; <a href="{% url 'mainapp_uzc:about' %}">Компания ҳақида</a></p>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-5">
                    <figure class="agroly-about-img">
                        <img src="{% static 'img/about_img.webp' %}" alt="">
                    </figure>
                </div>
                <div class="col-lg-7 col-mt-lg">
                    <div class="about-agroly-info">
                        <h5>Sag Gardens</h5>
                        <h2>Компания ҳақида <br /><span class="light-text">маълумот</span></h2>
                        <p>2000 йилда фаолиятини бошлаган САГ корпорацияси жорий йилда Саг Гарденс лойиҳасини амалга оширди. 4 йил аввал 6 минг гектардан ортиқ майдонга экилган 1 миллион 258 минг 900 туп ёнғоқ ва бодом кўчатлари ўтган йили ўз мевасини бера бошлагани, асосан, экспортга ё‘налтирилган мазкур лойиҳани амалга оширишга мустаҳкам замин яратди. Корпорация қошида ташкил этилган “Саг Гарденс” савдо белгиси остида турли мевали маҳсулотларни хорижга экспорт қилишга мўлжалланган “Саг Агро Логистиcс” мас’улияти чекланган жамияти бугунги кунда Ўзбекистонда етиштирилган турли мева маҳсулотларини қайта ишлаш ва экспорт қилиш билан шуғулланмоқда. Ўзбекистон Республикаси, хусусан, кўчатлари АҚШ ва Туркиядан олиб келинган “Чандлер” ёнғоғи ҳамда дунёга машҳур бодомнинг Гуара, Авижор, Феррагнос, Фередуел навлари.</p>
                        <p>Айни пайтда, жорий йилда корпорацияга қарашли 6 та плантатсияда жами 70 минг тоннадан ортиқ ёнғоқ ва 700 тоннагача бодом йиғиш режалаштирилган бўлиб, келгуси йилда бу кўрсаткич қарийб икки баравар ошиши кутилмоқда.</p>
                        <p>Корпорация негизида мазкур маҳсулотларни қайта ишлаш ва қайта ишлашга алоҳида э’тибор қаратилмоқда. Шу мақсадда Америка Қўшма Штатлари ва Туркиядан бу маҳсулотларни майдалаш, тозалаш, чиқиндиларни олиб ташлаш, тошлардан ажратиш ва ювиш учун махсус жиҳозлар келтирилди.</p>
                        <p>Бундан ташқари, корпорация мамлакатимиз бўйлаб фермерлар етиштирган ёнғоқ ва бодом экинларини қоплаш ва экспорт қилишни режалаштирмоқда. Бу хорижлик ҳамкорларга қўшимча 500 тонна ёнғоқ ва 1500 тонна бодом маҳсулотларини таклиф қилиш имконини бермоқда. Шу билан бирга, харидор мамлакатдаги ушбу турдаги маҳсулотларнинг бутун ҳосили учун битта хўжалик юритувчи субект билан ишлаш имкониятига эга бўлади.</p>
                        <p>Келгуси йилларда 10 минг гектардан ортиқ майдондаги ёнғоқ ва бодом кўчатларини тўлиқ ҳосилга қўшиб, Ўзбекистонда ушбу маҳсулотлар ишлаб чиқаришни кўпайтириш учун янги илмий ва тажриба имкониятларидан фойдаланиш режалаштирилган.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'blocks/footer_uzc.html' %}
{% endblock %}