{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Sag Gardens - Contacts{% endblock %}
{% block description %}Sag Gardens - Contacts{% endblock %}
{% block keywords %}Sag Gardens - Contacts{% endblock %}
{% block content %}
    <!-- PRELOADER START -->
    <div id="loader-wrapper">
        <div class="loader">
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
        </div>
    </div>
    <!-- PRELOADER END -->

    {% include 'blocks/header_en.html' %}

    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Contacts</h1>
                <div class="page-nav">
                    <p><a href="{% url 'mainapp_en:index' %}">Home</a> &nbsp; | &nbsp; <a href="{% url 'mainapp_en:contacts' %}">Contacts</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT START -->
    <section>
        <!-- SERVICES BOX START -->
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-box-layer">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="sb-caption">
                            <h4>Our Address</h4>
                            <p>Samarkand region, Zhombay district,<br/>Nazar village, economic zone "Urgut"</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-box-layer">
                        <i class="fas fa-phone-alt"></i>
                        <div class="sb-caption">
                            <h4>Our phone</h4>
                            <p>+998 (91) 557-77-70<br/>+998 (33) 557-77-70</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-box-layer">
                        <i class="fas fa-envelope"></i>
                        <div class="sb-caption">
                            <h4>E-mail</h4>
                            <p>sale@saggardens.uz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SERVICES BOX END -->
        <div class="wrapper-form mt-5">
            <div class="container">
                <div class="layer-title text-center">
                    <h2>Leave a <span class="light-text">request</span></h2>
                    <p>Our experts will contact you shortly</p>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <form id="contact-form" method="POST" action="">
                            {% csrf_token %}
                            <div class="messages"></div>
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_name" type="text" name="name" class="form-control customize"
                                                placeholder="Name" required="required"
                                                data-error="Please enter a name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="form_email" type="email" name="email"
                                                class="form-control customize" placeholder="E-mail"
                                                required="required" data-error="Please enter E-mail">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input id="form_phone" type="tel" name="phone"
                                                class="form-control customize" placeholder="Phone number">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" class="form-control customize"
                                                placeholder="Message" rows="6"></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 btn-send">
                                        <p><input type="submit" class="btn btn-contact button" value="Send"></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    {% include 'blocks/footer_en.html' %}
    <!-- FOOTER END -->
{% endblock %}