{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Sag Gardens - Сады{% endblock %}
{% block description %}Sag Gardens - Сады{% endblock %}
{% block keywords %}Sag Gardens - Сады{% endblock %}
{% block content %}
    <div id="loader-wrapper">
        <div class="loader">
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
        </div>
    </div>
    {% include 'blocks/header_ru.html' %}
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Сады</h1>
                <div class="page-nav">
                    <p><a href="{% url 'mainapp_ru:index' %}">Главная</a> &nbsp; | &nbsp; <a href="{% url 'mainapp_ru:garden_list' %}">Сады</a></p>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container mt-5 mb-5">
            <div class="content-blogs">
                <h2>Грецкий орех</h2>
                    <div class="row hover-effects image-hover">
                        {% for garden in gardens %}
                            {% if garden.nut_kind == 'walnut' %}
                                <div class="col-md-4" data-aos="fade-up">
                                    <div class="blog-thumbnail">
                                        <figure class="bt-img">
                                            <a href="{% url 'mainapp_ru:garden_detail' garden.slug %}">
                                                <img src="{{ garden.img.url }}" alt="">
                                            </a>
                                        </figure>
                                        <div class="bt-caption">
                                            <h5>
                                                <a href="{% url 'mainapp_ru:garden_detail' garden.slug %}">{{ garden.title_ru }}</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                <h2 class="mt-5">Миндаль</h2>
                <div class="row hover-effects image-hover">
                    {% for garden in gardens %}
                        {% if garden.nut_kind == 'almond' %}
                            <div class="col-md-4" data-aos="fade-up">
                                <div class="blog-thumbnail">
                                    <figure class="bt-img">
                                        <a href="{% url 'mainapp_ru:garden_detail' garden.slug %}">
                                            <img src="{{ garden.img.url }}" alt="">
                                        </a>
                                    </figure>
                                    <div class="bt-caption">
                                        <h5>
                                            <a href="{% url 'mainapp_ru:garden_detail' garden.slug %}">{{ garden.title_ru }}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% include 'blocks/footer_ru.html' %}
{% endblock %}