{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Sag Gardens - Янгиликлар{% endblock %}
{% block description %}Sag Gardens - Янгиликлар{% endblock %}
{% block keywords %}Sag Gardens - Янгиликлар{% endblock %}
{% block content %}
    <div id="loader-wrapper">
        <div class="loader">
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
        </div>
    </div>
    {% include 'blocks/header_uzc.html' %}
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Янгиликлар</h1>
                <div class="page-nav">
                    <p><a href="{% url 'mainapp_uzc:index' %}">Уй</a> &nbsp; | &nbsp; <a href="{% url 'mainapp_uzc:news_list' %}">Янгиликлар</a></p>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container mt-5 mb-5">
            <div class="content-blogs">
                <div class="row hover-effects image-hover">
                    {% for post in posts %}
                        <div class="col-md-6" data-aos="fade-up">
                            <div class="blog-thumbnail">
                                <figure class="bt-img"><a href="{% url 'mainapp_uzc:news_detail' post.id %}"><img src="{{ post.img.url }}" alt=""></a>
                                </figure>
                                <div class="bt-caption">
                                    <div class="bt-details">
                                        <p>{{ post.date }}</p>
                                    </div>
                                    <h4><a href="{% url 'mainapp_uzc:news_detail' post.id %}">{{ post.title_uzc }}</a> </h4>
                                    <p>{{ post.description_uzc }}</p>
                                    <hr class="bt-separator">
                                    <div class="author">
                                        <div class="media">
                                            <img src="{{ post.author.img.url }}" class="mr-3" alt="...">
                                            <div class="media-body">
                                              <h5 class="mt-0">{{ post.author.name_uzc }}</h5>
                                              <p>{{ post.author.speciality_uzc }}</p>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    {% include 'blocks/footer_uzc.html' %}
{% endblock %}