{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Sag Gardens - Ҳамкорлар{% endblock %}
{% block description %}Sag Gardens - Ҳамкорлар{% endblock %}
{% block keywords %}Sag Gardens - Ҳамкорлар{% endblock %}
{% block content %}
    <div id="loader-wrapper">
        <div class="loader">
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
        </div>
    </div>
    {% include 'blocks/header_uzc.html' %}
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Ҳамкорлар</h1>
                <div class="page-nav">
                    <p><a href="{% url 'mainapp_uzc:index' %}">Уй</a> &nbsp; | &nbsp; <a href="{% url 'mainapp_uzc:partners' %}">Ҳамкорлар</a></p>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col">
                    <h4 class="text-center">Ҳурматли ҳамкорлар!</h4>
                    <p>“SAG AGRO LOGISTICS” компанияси SAG GARDENS бренди остида сизларни бутун дунёдаги табиий маҳсулот ишлаб чиқарувчиларни Ўзбекистон ва халқаро бозорларда ишончли сотув каналлари билан боғловчи жадал ривожланаётган лойиҳага қўшилишга таклиф қилади.</p>
                    <p>Биз шаффоф, ҳалол ва даромадли ҳамкорликни қурмоқдамиз — бунда ҳамма томон фойда кўради. Сиз сотасиз — биз талаб яратамиз. Биз етиштамиз — сиз даромад оласиз.</p>
                </div>
            </div>
            <h4 class="text-center mt-4 mb-4">ҲАМКОРЛИКНИНГ АСОСИЙ ЙЎНАЛИШЛАРИ</h4>
            <div class="row mb-4">
                <div class="col-lg-7 col-mt-lg">
                    <h6 class="">Ўзбекистонга импорт — маҳсулотингиз учун янги бозор очинг</h6>
                    <div class="bullets">
                        <p class="mb-0"><b>Биз қуйидаги маҳсулотларни ишлаб чиқарувчилардан тўғридан-тўғри импорт қилиш учун ишончли ҳамкорларни излаяпмиз:</b></p>
                        <ul class="left-list">
                            <li>Озиқ-овқат маҳсулотлари</li>
                            <li>Болалар овқати ва болалар маҳсулотлари</li>
                            <li>Табиий косметика</li>
                            <li>Гигиена ва ювиш воситалари</li>
                        </ul>
                    </div>
                    <div class="bullets">
                        <p class="mb-0"><b>Биз томонимиздан кафолатланади:</b></p>
                        <ul class="left-list">
                            <li>Маҳсулотингизни тез ва самарали равишда Ўзбекистон бозорига чиқариш</li>
                            <li>Зарур бўлса, сертификатлашда ёрдам</li>
                            <li>Шаффоф ва одил шартларда ҳамкорлик</li>
                            <li>Доимий ва прогноз қилинадиган харид ҳажмлари</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5">
                    <figure class="agroly-about-img">
                        <img src="{% static 'img/about_img.webp' %}" alt="">
                    </figure>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-5">
                    <figure class="agroly-about-img">
                        <img src="{% static 'img/about_img.webp' %}" alt="">
                    </figure>
                </div>
                <div class="col-lg-7 col-mt-lg">
                    <h6 class="">Ўзбекистондан экспорт — энг яхшисини тўғридан олинг</h6>
                    <div class="bullets">
                        <p class="mb-0"><b>Агар сиз сифат, мазза ва маҳсулотнинг аниқ манбасига аҳамият берсангиз — тўғри жойдасиз. SAG GARDENS сизга таклиф этади:</b></p>
                        <ul class="left-list">
                            <li>Шахсий боғларимиздан грек ёнғоғи (пўстлоқда ва тозаланган)</li>
                            <li>Премиум миндаль (пўстлоқда ва тозаланган)</li>
                            <li>Совуқ сиқимда олинган миндаль мойи — озиқ-овқат ва косметика учун</li>
                            <li>Шунингдек: анжир, майиз, қуритилган ўрик, зираворлар ва қуритилган гиёҳлар (сўров асосида)</li>
                        </ul>
                    </div>
                    <div class="bullets">
                        <p class="mb-0"><b>Биз томонимиздан кафолатланади:</b></p>
                        <ul class="left-list">
                            <li>“Даладан то қадоқлангунигача” тўлиқ сифат назорати</li>
                            <li>Посредникларсиз пок ва табиий маҳсулот</li>
                            <li>Ўз логистикамиз: барқарор етказиб бериш ва паст харажатлар</li>
                            <li>Сизнинг брендингиз остида ишлаш имконияти</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-7 col-mt-lg">
                    <h6 class="">НЕГА АЙНАН “SAG GARDENS”?</h6>
                    <div class="bullets">
                        <p class="mb-0"><b>Бизда муваффақиятли ва самарали ҳамкорлик учун барча шартлар мавжуд:</b></p>
                        <ul class="left-list">
                            <li>Йўлга қўйилган шахсий логистика</li>
                            <li>Ташқи иқтисодий фаолият бўйича мутахассислар</li>
                            <li>Қадоқлаш, ҳажм, нарх ва шартларда мослашувчанлик</li>
                            <li>Ишонч ва натижага асосланган обрў</li>
                            <li>Эксклюзив шартномалар ва махсус шартларга очиқлик</li>
                        </ul>
                    </div>
                    <p><b>ҲАМКОРЛИКНИ БОШЛАЙМИЗМИ?</b></p>
                    <p>Биз сизнинг таклифингизни мамнуният билан кўриб чиқамиз, намуна ва техник маълумотларни тақдим этамиз.</p>
                    <p>SAG GARDENS — бу шунчаки етказиб бериш эмас. Бу икки томонлама даромадли ҳамкорлик.</p>
                    <p>Биз билан боғланинг — кутганингиздан кўпроғини оласиз.</p>
                </div>
                <div class="col-lg-5">
                    <figure class="agroly-about-img">
                        <img src="{% static 'img/about_img.webp' %}" alt="">
                    </figure>
                </div>
            </div>
                    <br>
                    <p><b>Боғланиш учун маълумотлар:</b></p>
                    <p>📞 Телефон: +998915577770</p>
                    <p>✉️ Электрон почта: sgakabirov@gmail.com</p>
                    <br>
                    <p>Ҳурмат билан,</p>
                    <p>“SAG AGRO LOGISTICS” директори</p>
                    <p>Акабиров С.Г.</p>
        </div>
    </section>
    {% include 'blocks/footer_uzc.html' %}
{% endblock %}