{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Sag Gardens - Products{% endblock %}
{% block description %}Sag Gardens - Products{% endblock %}
{% block keywords %}Sag Gardens - Products{% endblock %}
{% block content %}
    <div id="loader-wrapper">
        <div class="loader">
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
           <div class="ball"></div>
        </div>
    </div>
    {% include 'blocks/header_en.html' %}
    <div class="pages-hero">
        <div class="container">
            <div class="pages-title">
                <h1>Products</h1>
                <div class="page-nav">
                    <p><a href="{% url 'mainapp_en:index' %}">Home</a> &nbsp; | &nbsp; <a href="{% url 'mainapp_en:product_list' %}">Products</a></p>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container mt-5 mb-5">
            <div class="grid">
                <div class="filter-container">
                    <ul class="filter">
                        <li class="active" data-filter="*">All</li>
                        {% for category in categories %}
                            <li data-filter=".category{{ category.id }}">{{ category.name_en }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="grid" id="kehl-grid">
                    <div class="grid-sizer"></div>
                    {% for product in products %}
                        <div class="grid-box grid-item category{{ product.category.id }}">
                            <a class="image-popup-vertical-fit"
                                href="{% url 'mainapp_en:product_detail' product.id %}">
                                <div class="image-mask"></div>
                                <img src="{{ product.img.url }}" alt="" />
                                <h3>{{ product.name_en }}</h3>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
    </section>
    {% include 'blocks/footer_en.html' %}
{% endblock %}