{% load static %}
<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Biz bilan <span class="light-text">bog'lanish</span></h4>
                    <p>Biz sizga buyurtma berishga yordam beramiz yoki sizga maslahat beramiz</p>
                </div>
                <div class="col-lg-6">
                    <div class="footer-btns">
                        <a href="{% url 'mainapp_uzl:contacts' %}" class="btn button btn-white">Biz bilan bog'lanish</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-divider">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-col">
                    <figure class="footer-logo">
                        <img src="{% static 'img/saggardens_white.svg' %}" alt="">
                    </figure>
                    <p class="footer-desc">2000 yilda faoliyatini boshlagan SAG korporatsiyasi joriy yilda Sag Gardens loyihasini amalga oshirdi.</p>
                    <a class="footer__link" href="mailto:sale@saggardens.uz">sale@saggardens.uz</a>
                    <ul class="bottom-social">
                        <li><a href="/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/sag_gardens/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://t.me/sag_gardens_export/" target="_blank"><i class="fab fa-telegram"></i></a></li>
                        <li><a href="https://t.me/sag_gardens/" target="_blank"><i class="fab fa-telegram"></i></a></li>
                        <li><a href="https://www.youtube.com/@saggardens/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/sag-gardens/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>Sag Gardens</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="{% url 'mainapp_uzl:index' %}">Uy</a></li>
                        <li><a href="/">Mahsulotlar</a></li>
                        <li><a href="{% url 'mainapp_uzl:contacts' %}">Kontaktlar</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>Biz haqimizda</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="{% url 'mainapp_uzl:about' %}">Kompaniya haqida</a></li>
                        <li><a href="/">Sifat</a></li>
                        <li><a href="/">Yangiliklar</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>Kompaniya</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="/">Ishlab chiqarish</a></li>
                        <li><a href="{% url 'mainapp_uzl:garden_list' %}">Bog'lar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="hr-divider">
        <div class="bottom-footer">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>© 2022 <strong>Sag Gardens</strong> Barcha huquqlar himoyalangan</p>
                    </div>
                </div>
                <div class="col-lg-6 text-align">
                    <ul class="bf-right">
                        <li><a href="/">Taklif</a></li>
                        <li><a href="/">Maxfiylik</a></li>
                        <li><a href="/">Qo'llab-quvvatlash</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>