{% load static %}
<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Свяжитесь  <span class="light-text">с нами</span></h4>
                    <p>Мы поможем вам составить заказ или проконсультировать вас</p>
                </div>
                <div class="col-lg-6">
                    <div class="footer-btns">
                        <a href="{% url 'mainapp_ru:contacts' %}" class="btn button btn-white">Связаться с нами</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-divider">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-col">
                    <figure class="footer-logo">
                        <img src="{% static 'img/saggardens_white.svg' %}" alt="">
                    </figure>
                    <p class="footer-desc">Корпорация «SAG», начавшая свою деятельность в 2000 году, в этом году реализовала проект «Sag Gardens». </p>
                    <a class="footer__link" href="mailto:sale@saggardens.uz">sale@saggardens.uz</a>
                    <ul class="bottom-social">
                        <li><a href="/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/sag_gardens/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://t.me/sag_gardens_export/" target="_blank"><i class="fab fa-telegram"></i></a></li>
                        <li><a href="https://t.me/sag_gardens/" target="_blank"><i class="fab fa-telegram"></i></a></li>
                        <li><a href="https://www.youtube.com/@saggardens/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/sag-gardens/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>Sag Gardens</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="{% url 'mainapp_ru:index' %}">Главная</a></li>
                        <li><a href="/">Продукция</a></li>
                        <li><a href="{% url 'mainapp_ru:contacts' %}">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>О нас</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="{% url 'mainapp_ru:about' %}">О компании</a></li>
                        <li><a href="/">Качество</a></li>
                        <li><a href="/">Новости</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>Компания</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="/">Производство</a></li>
                        <li><a href="{% url 'mainapp_ru:garden_list' %}">Сады</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="hr-divider">
        <div class="bottom-footer">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>© 2022 <strong>Sag Gardens</strong> Все права защищены</p>
                    </div>
                </div>
                <div class="col-lg-6 text-align">
                    <ul class="bf-right">
                        <li><a href="/">Офферта</a></li>
                        <li><a href="/">Конфиденциальность</a></li>
                        <li><a href="/">Поддержка</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>