{% load static %}
<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Contact  <span class="light-text">us</span></h4>
                    <p>We will help you place an order or advise you</p>
                </div>
                <div class="col-lg-6">
                    <div class="footer-btns">
                        <a href="{% url 'mainapp_en:contacts' %}" class="btn button btn-white">Connect with us</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr-divider">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-col">
                    <figure class="footer-logo">
                        <img src="{% static 'img/saggardens_white.svg' %}" alt="">
                    </figure>
                    <p class="footer-desc">The SAG Corporation, which began its activities in 2000, this year implemented the Sag Gardens project.</p>
                    <a class="footer__link" href="mailto:sale@saggardens.uz">sale@saggardens.uz</a>
                    <ul class="bottom-social">
                        <li><a href="/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/sag_gardens/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://t.me/sag_gardens_export/" target="_blank"><i class="fab fa-telegram"></i></a></li>
                        <li><a href="https://t.me/sag_gardens/" target="_blank"><i class="fab fa-telegram"></i></a></li>
                        <li><a href="https://www.youtube.com/@saggardens/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/sag-gardens/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>Sag Gardens</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="{% url 'mainapp_en:index' %}">Home</a></li>
                        <li><a href="/">Products</a></li>
                        <li><a href="{% url 'mainapp_en:contacts' %}">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>About</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="/">About Company</a></li>
                        <li><a href="/">Quality</a></li>
                        <li><a href="/">News</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-mt-lg">
                <div class="footer-col">
                    <h5>Company</h5>
                    <ul class="footer-bulletlist">
                        <li><a href="/">Production</a></li>
                        <li><a href="/">Gardens</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="hr-divider">
        <div class="bottom-footer">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>© 2022 <strong>Sag Gardens</strong> All rights reserved</p>
                    </div>
                </div>
                <div class="col-lg-6 text-align">
                    <ul class="bf-right">
                        <li><a href="/">Offer</a></li>
                        <li><a href="/">Confidentiality</a></li>
                        <li><a href="/">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>