{% load static %}
<header>
    <!-- NAV START -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container p-0">
            <a href="{% url 'mainapp_en:index' %}" class="navbar-brand">
                <img src="{% static 'img/saggardens_white.svg' %}" alt="">
            </a>
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
            </button>
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li><a href="{% url 'mainapp_en:index' %}" class="nav-item nav-link">Home</a></li>
                    <li><a href="{% url 'mainapp_en:about' %}" class="nav-item nav-link">About</a></li>
                    <li><a href="#" class="nav-item nav-link">Partners</a></li>
                    <li class="dropdown">
                        <a href="/" class="nav-item nav-link" data-toggle="dropdown">Production</a>
                        <div class="dropdown-menu">
                            <a href="{% url 'mainapp_en:gallery' %}" class="dropdown-item">Gallery</a>
                            <a href="{% url 'mainapp_en:videogallery' %}" class="dropdown-item">Video gallery</a>
                            <a href="{% url 'mainapp_en:garden_list' %}" class="dropdown-item">Gardens</a>
                            <a href="{% url 'mainapp_en:product_list' %}" class="dropdown-item">Products</a>
                        </div>
                    </li>
                    <li><a href="{% url 'mainapp_en:news_list' %}" class="nav-item nav-link last-link-item">News</a></li>
                    <li><a href="{% url 'mainapp_en:contacts' %}" class="nav-item nav-link last-link-item">Contacts</a></li>
                    <li class="dropdown">
                        <a href="{% url 'mainapp_en:index' %}" id="header_language_en" class="nav-item nav-link lang__dropdown" data-toggle="dropdown">
                            <img class="lang__img" src="{% static 'img/USA.svg' %}" alt="">
                        </a>
                        <div class="dropdown-menu">
                            <a href="{% url 'mainapp_uzc:index' %}" id="header_language_uzc" class="dropdown-item">
                                <img class="lang__img" src="{% static 'img/UZB.svg' %}" alt="">
                            </a>
                            <a href="{% url 'mainapp_uzl:index' %}" id="header_language_uzl" class="dropdown-item">
                                <img class="lang__img" src="{% static 'img/UZB.svg' %}" alt="">
                                O'Z
                            </a>
                            <a href="{% url 'mainapp_ru:index' %}" id="header_language_ru" class="dropdown-item">
                                <img class="lang__img" src="{% static 'img/RUS.svg' %}" alt="">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAV END -->
</header>