{% load static %}
<div class="container mt-5 mb-5">
    <div class="clients-carousel">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="client-box">
                    <figure class="client-icon">
                        <a href="https://sag.uz/">
                            <img class="partner__img" src="{% static 'img/sag.svg' %}" alt="">
                        </a>
                    </figure>
                </div>
            </div>
            <div class="item">
                <div class="client-box">
                    <figure class="client-icon">
                        <a href="https://bionurmedservis.uz/">
                            <img class="partner__img" src="{% static 'img/bionur.svg' %}" alt="">
                        </a>
                    </figure>
                </div>
            </div>
            <div class="item">
                <div class="client-box">
                    <figure class="client-icon">
                        <a href="/">
                            <img class="partner__img" src="{% static 'img/tuft.svg' %}" alt="">
                        </a>
                    </figure>
                </div>
            </div>
            <div class="item">
                <div class="client-box">
                    <figure class="client-icon">
                        <a href="https://lelit.uz/">
                            <img class="partner__img" src="{% static 'img/lelit.svg' %}" alt="">
                        </a>
                    </figure>
                </div>
            </div>
            <div class="item">
                <div class="client-box">
                    <figure class="client-icon">
                        <a href="https://www.seat.uz/">
                            <img class="partner__img" src="{% static 'img/set.svg' %}" alt="">
                        </a>
                    </figure>
                </div>
            </div>
            <div class="item">
                <div class="client-box">
                    <figure class="client-icon">
                        <a href="https://uznuts.uz/">
                            <img class="partner__img" src="{% static 'img/uznuts.svg' %}" alt="">
                        </a>
                    </figure>
                </div>
            </div>
            <div class="item">
                <div class="client-box">
                    <figure class="client-icon">
                        <a href="/">
                            <img class="partner__img" src="{% static 'img/sis.svg' %}" alt="">
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>